
/* Police Raleway */

@font-face 
{
  font-family: "Raleway-regular";
  src: url("static/Raleway-Regular.ttf");
}

*
{
  font-family: Raleway-regular;
}


#containerglobal
{
    max-width: 1440px;
    margin: 2em 2em;
    
}



                    /* HEADER */

.conteneurheader
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation
{
 display: flex;
 padding: 1em;
}

.herberetactivnav
{
  display: flex;
  list-style: none;
  padding-right: 2em;
}

.activnav
{display: flex;
padding-left: 2em;
}

.titrehaut
{
  display: flex;
}














.hotel img 
{
  width: 100px;
  height: 100px;
}

.popular img
{
  width: 100px;
  height: 100px;
}

.contenuActivites img
{
  width: 100px;
  height: 100px;
}

#Hebergements
{
  background-color : #F2F2F2;;
  border-radius: 10px;
  margin-right: 3em;
  display: flex;
  flex-direction: column;
align-items: center;
flex-wrap: wrap;
}

#lespluspopulaires
{
  background-color : #F2F2F2;;
  border-radius: 10px;
}

main
{
  display: flex;

}


.contenuActivites
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  ﬂex-ﬂow: row wrap;
}

.Activite1
{
order:-3;
  width: 300px;
  height: 400px;
}


















footer
{
  background-color : #F2F2F2;;
  border-radius: 0;
}

.footerglobal
{
  display: flex;
  max-width: 100%;
  padding: 0 10px;
  box-sizing: border-box; /* définit la façon dont la hauteur et la largeur totale d'un élément est calculée */
}

.contenufooter
{
  width: 40%;
}

.liFooter
{
  color: black;
  display: block;
  margin: 15px 0;
  font-weight: 500;
  text-decoration:none;  
}



}fin quieries