/* Police Raleway */

@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&amp;display=swap);


*
{
font-family: "Raleway", "Sans serif";
}

a:link, a:visited 
{
text-decoration: none;
color: black;
}

#containerglobal
{
    max-width: 1440px;
    margin: 0 auto;
  background-color: #f7a8a8;  
}



                    /* HEADER */

.conteneurheader
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.navigation
{
 display: flex;
 padding: 1em;
}

.herberetactivnav
{
  display: flex;
  list-style: none;
  padding-right: 2em;
}

.activnav
{display: flex;
padding-left: 2em;
}

.titrehaut
{
  display: flex; 
  background-color: #b589f4;
}
                    /* Rechercher */

.rechercher
{
background-color: #6970f4;
}

                    /* Filtres */

.filtres
{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 2vw;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
  background-color: #6ad1f7;
}

.H3filtres
{
  display: flex;
  align-items: center;
  width: 100%;
}

.icone
{
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  border: 2px solid #d9d9d9;
}


                    /* HEBERGEMENT ET POPULAIRES */

.hebergementetpopulaires
{
  background-color: #f79696;
  display: flex;
  margin: 25px 0 50px;
}

                    /* Hebergement */

.hebergementetpopulaires
{
  display: flex;
  margin: 25px 0 50px;
  background-color: #30cc8b;
}

section hebergements
{
    display: block;
}


#Hebergements
{
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 62%;
  padding: 20px;
  margin: 0 25px 0 0;
}

.titre
{
  text-align: center;
  padding-bottom: 5px;
  color: black;
  font-size: 1.3em;
  padding-left: 8px;
}

.locationsmarseille
{
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
}

.hotel
{
  width: 200px;
    background: white;
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 5px 20px 5px;
    box-shadow: 0 5px 16px #0000002e;
    display: block;
}
  
.hotel p 
{
  margin: 5px 10px;
  font-weight: 100;
}

.hotel img 
{
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  transition-duration: 0.1s;
  
  width: 100%;
  height: 120px;
  object-fit: cover;
}

titre h2
{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

hotel h4
{
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.grey 
{
    color: lightgrey;
}




                    /* Populaires */


.populairesimages
{
  background-color: white;
  transition-duration: 0.1s;
  cursor: pointer;
  float: left;
  width: 45%;
  height: 92%;
  border-radius: 15px 0 0 15px;
  margin: 2px 10px 2px 0px;
  object-fit: cover;
}

#lespluspopulaires
 {
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 32%;
  padding: 20px;
  display: flex;
}

.fa-chart-line: before 
{
    right: 43px;
    margin-top: -17px;
    color: black;
}





















                    /* ACTIVITE */


#Activites
{
  background-color: #f28a29; 
}

#Activites img
{
  width: 200px;
  height: 220px;
}


















footer
{
  background-color : #F2F2F2;;
  border-radius: 0;
}

.footerglobal
{
  display: flex;
  max-width: 100%;
  padding: 0 10px;
  box-sizing: border-box; /* définit la façon dont la hauteur et la largeur totale d'un élément est calculée */
}

.contenufooter
{
  width: 40%;
}

.liFooter
{
  color: black;
  display: block;
  margin: 15px 0;
  font-weight: 500;
  text-decoration:none;  
}



}fin quieries