                                        /* Format clearing */

h1 h2 h3 h4 h5 h6 div ul ol i img 
{ margin: 0; padding: 0; margin-block-start: 0;margin-block-end: 0;}
                                       
h4
{
margin: 0;
font-weight: bold;
}

p
{
margin: 0;
}

body
{
   padding: 0;
   margin: 0;
}

header nav a:hover 
{
text-decoration: none; /* La propriété text-decoration est utilisée pour « décorer » le texte en ajoutant une ligne pouvant être positionnée sous, sur ou à travers le texte */
border-top: solid 1px #0065fc;
padding-top: 40px;
margin: 10px;
}

                                        /* Police Raleway */


*
{
font-family: "Raleway", "Sans serif";
}

.conteneurglobal
{
max-width: 1440px;
margin: 0 auto; /* Cela garantit que les marges gauche et droite seront définies à la même taille. Le pemier paramètre 0 indique que les marges supérieure et inférieure seront toutes deux définies sur 0 */
padding: 0 2em;
}


                                      
                                        /* Header */

.menuhaut
{
display: grid;
grid-template-columns: 73% 13% 10% 10%;
align-items: center;
padding: 1em 0 1em 0;
}

a:link, a:visited /* modifier l'aspect d'un lien après que l'utilisateur l'a visité */
{
text-decoration: none;
color: black;
}



#titrehaut
{
margin: 19px 0 5px 0;
}
.soustitre
{
margin: 0;
}


                                        /* barre de recherche */

.barrederecherche
{
display: flex;
padding: 20px 0 20px 0;
}

.fa-map-marker-alt
 {
    padding: 16.5px 20px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.login
{
color: #0065FC !important; /*ajoute plus d'importance à une propriété/valeur */
}

.boutonrecherche
{
background: transparent;
width: 130px;
height: 50px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
background-color: #0065fc;
color: white;
font-size: 1em;
font-weight: 700;
text-align: center;
}

.textesearch
{
padding: 16.5px 20px;
}

.fa-search
{
visibility: hidden;
display: none;
}

.boutonrecherche:hover 
{
color: #0065fc;
background-color: #deebff;
border: 1px solid #0065fc;
cursor: pointer;
}


.ville
{
border: none;
padding: 0 1.15em;
}



                                        /* filtres */

.filtres 
{
display: flex;
flex-wrap: wrap;
grid-gap: 1em;
align-items: center;
}

.iconefiltres
{
background-color: #DEEBFF;
color: #0065FC;
border-radius: 100%;
height: 3.25em;
width: 3.25em;
display: flex;
align-items: center;
justify-content: center;
}

.fas .fa
{
color: blue;
}

.icone
{
border-radius: 60px;
display: flex;
align-items: center;
justify-content: space-around;
height: 50px;
border: 2px solid #d9d9d9;
}

.filtrestitle
{
margin: 0 1em 0 1em;
font-weight: bold;
}

.info
{
display: flex;
padding: 20px 0 20px 0;
align-items: center;
}

.textinfo
{
padding: 10px;
}

.fa-info
{
color:#0065FC
}


                                        /* Hébergement */


.conteneurhebergement
{

}

.fa-info-circle
{
color: #0065FC;
}

.grey
{
color: #d9d9d9;
}

.hebergementetpopulaires
{
display: grid;
grid-template-columns: 66% 33%;
column-gap: 2em;
}

.imagelog
{
object-fit: cover; /* Le contenu emplacé est dimensionné pour maintenir son ratio d'affichage tout en emplissant toute la boîte de contenu */
object-position: center; /* est utilisée avec object-fit pour spécifier comment un <img> doit être positionné avec des coordonnées x/y à l'intérieur de sa "propre zone de contenu" */
height: 120px;
width: 100%;
border-top-left-radius: 1em;
border-top-right-radius: 1em; 
box-shadow: 0 0 16px #0000002e; 
background-color: white; 
}

.logements
{
background-color: #f2f2f2;
border-radius: 1.5em;
padding: 20px 0 0 40px;
}

.locationsmarseille
{
display: grid;
grid-template-columns: repeat(3 ,1fr);
gap: 1em;
padding: 0 40px 0 0;
}

.afficher
{
padding: 40px 0 40px 0;
}


.contenulog
{
background-color: white;
border-radius: 1em; 
padding: 0.3em;
box-shadow: 0 0 16px #0000002e; 
}


                                        /* Populaires */


.aside
{
background-color: #f2f2f2;
border-radius: 1.5em;
padding: 20px 0 0 40px;
}

.containerpop
{
display: flex;
flex-direction: column;
margin: 4px;
}

.starblue
{
margin: 0px 10px 5px 0px;
display: flex;
color: #0065FC;
padding: 4px;
}

.starblue >i
{
padding-right: 4px;
}

.asidepop
{
display: flex;
border-radius: 1em;
background-color: white;
padding: 0.3em;
box-shadow: 0 0 16px #0000002e; 
}

.asidegridcontainer
{
display: grid;
grid-template-columns: 100%;
grid-template-rows: 38% 38% 38%;
gap: 1em;
padding: 0 40px 0 0;
row-gap: 2em;
justify-content: center;
}


.populaires
{
position: relative;
width: 33%;
min-width: 33%;
max-width: 33%;
height: 100%;
}

.imagepop
{
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 1em 0 0 1em;
}

.titrepop
{
margin-top: 5px;
margin-bottom: 5px;
display: grid;
}

.fa-chart-line
{
padding-left: 6em;
}

                                        /* Activités */

.containeractiv
{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: auto 14em 2em 2em 2em 14em;
column-gap: 2em;
}
  
.Activite1
{ 
grid-area: 1 / 1 / 7 / 2; /* propriété spécifie la taille et l'emplacement d'un élément de grille dans une disposition de grille */ /* superpropriete rows start/end column start/end */
display: flex;
flex-direction: column;
box-shadow: 0 0 20px #0000002e;
border-radius: 1em;
overflow: hidden;
}
  
.Activite2
{ 
grid-area: 1 / 2 / 4 / 3; 
display: flex;
flex-direction: column;
box-shadow: 0 0 20px #0000002e; /* ajoute des ombres à la boîte d'un élément via une liste d'ombres séparées par des virgules */
border-radius: 1em;
overflow: hidden;
}
  
.Activite3
{ 
grid-area: 5 / 2 / 7 / 3; 
display: flex;
flex-direction: column;
box-shadow: 0 0 20px #0000002e;
border-radius: 1em;
overflow: hidden;
}
  
.Activite4
{ 
grid-area: 1 / 3 / 7 / 4; 
display: flex;
flex-direction: column;
box-shadow: 0 0 20px #0000002e;
border-radius: 1em;
overflow: hidden; 
}
  
.Activite5
{ 
grid-area: 1 / 4 / 3 / 5; 
display: flex;
flex-direction: column;
box-shadow: 0 0 20px #0000002e;
border-radius: 1em;
overflow: hidden;
}

.Activite6
{
grid-area: 5/ 4 / 7 / 5;
display: flex;
flex-direction: column;
box-shadow: 0 0 20px #0000002e;
border-radius: 1em;
overflow: hidden;
}

.conteimagactiv
{
position: relative;
flex: 1;
overflow: hidden;
}

.imactiv
{
position: absolute;
object-fit: cover;
width: 100%;
height: 100%;
overflow: hidden;
}

.titreactiv
{
margin: 1.2em 1.5em;
}
                                        /* Footer */

.footerglobal
{
margin-top: 50px;
padding: 2em;
font-family: "Raleway", "Sans serif";
background-color: #f2f2f2;
}

.contenufooter
{
display: flex;
justify-content: space-between;
margin: auto;
max-width: 100%;
width: 1440px;
}

.TitreFooter1, .TitreFooter2, .TitreFooter3
{
display: flex;
flex-direction: column;
width: 33%;
row-gap: 0.75em;
}

.liFooter
{
margin: 0;
}

a.liFooter:link, a.liFooter:active{
text-decoration: none;
color: black;
}

.contenulog:hover, .asidepop:hover, .Activite1:hover, .Activite2:hover, .Activite3:hover, .Activite4:hover, .Activite5:hover, .Activite6:hover, .f:hover, .conteimagactiv:hover
{
transform: scale(1.04); /* [La souris se déplace dans l'image pour zoomer en double effet */ /* méthode augmente ou diminue la taille d'un élément */
}

.contenulog, .asidepop, .Activite1, .Activite2, .Activite3, .Activite4, .Activite5, .Activite6, .f
{
transition-duration: 1s; /* définit le nombre de secondes ou de millisecondes que doit durer une animation */
}






                                        /* Media Quieries */                /*permettent de modifier l'apparence d'un site ou d'une application en fonction du type d'appareil */

@media (max-width: 1024px) /* appliquer des styles à condition que la largeur de la zone d'affichage (viewport) soit inférieure à 1024px */
{

    .hebergementetpopulaires
    {
    grid-template-columns: auto;
    row-gap: 1em;
    }

    .aside
    {
    grid-area: 1;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    }

    .locationsmarseille
    {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .containeractiv 
    {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, 15em);
    row-gap: 1em;
    }

    .containeractiv>*
    {
    grid-area: auto;
    }

    .contenufooter
    {
    flex-direction: column;
    }









    
}

